@font-face {
  font-family: "DM Sans";
  src:url("../fonts/DMSans-VariableFont_opsz\,wght.ttf");
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
  font-weight: 400 500;
  font-style: italic;
}

:root {
  --purple-100:hsl(254,88%,90%);
  --purple-500:hsl(256,67%,59%);

  --yellow-100:hsl(31,66%,93%);
  --yellow-500:hsl(39,100%,71%);

  --white-main:hsl(0,0%,100%);
  --black-main:hsl(0,0%,7%);

  --fs-p: 1.5rem;
  --mobile-w: 18rem;
}

p, span {
  font-family: "DM Sans", Calibri, Tahoma, sans-serif;
}

h1,h2,h3 {
  font-family: "DM Sans",Calibri, Tahoma, sans-serif;
}

figure {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center
}

img {
  width: 100%;
}
.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px;
  overflow: hidden;
}
  
.main_container div {
  margin-block-start: 2rem;
  border-radius: 10px;
}

/* First container*/
.main_container >:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 18rem;
  padding-block: 2rem;
  background-color: var(--purple-500);
  border: 1px solid blue;
  text-align: center;
  color: var(--white-main);
}

.ai_container h1 {
  padding-inline: 1.5rem;
  font-size: 3rem;
  font-weight: 500;
}

.ai_container h1 span:first-of-type{
  color: var(--yellow-500);
}

.ai_container h1 span:nth-child(2) {
  font-style: italic;
}

.ai_container figure {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block-start: 1rem;
}

.ai_container img {
  width: 170px;
}

.ai_container p {
  font-size: 1.1rem;
  margin-block-start: .5rem;
}

/* Second container*/
.manage_container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-main);
  padding: 1rem;
}

.manage_container p {
  margin-block-start: 1.5rem;
  font-size: var(--fs-p);
  font-weight:500;
  letter-spacing: -.1rem;
  line-height: 1.2rem;
  
}

/*Third container*/
.maintain_container {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow-500);
  /* Escondemos parte de la imagen según el diseño*/
  overflow:clip;
  padding-block-start: 1rem;
  padding-inline: 1rem;
}

.maintain_container p {
  font-size: 1.6rem;
  line-height: 1.5rem;
  letter-spacing: -.1rem;
  font-weight: 500;
}


.maintain_container img {
  margin-block-start: 1rem;
  margin-block-end: -30px;
  width:70%; 
}

/*Fourth container*/

.schedule_social_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 1rem;
  background-color: var(--purple-100);
}

.schedule_social_container p {
  font-size: var(--fs-p); 
  font-weight: 500;
  letter-spacing: -.1rem;
}

.schedule_social_container figure {
  width: 100%;
  margin-block-start: 1rem;
}

.schedule_social_container p:last-child {
  margin-block-start: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal;
  padding-inline:1rem;
  letter-spacing: .2px;
}
/*Fifth container*/
.grow_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purple-500);
  margin-block-end: 1rem;
  padding: 1.5rem;
}

.grow_container figure {
  width: 100%;
}

.grow_container img {
  width:80%;
}

.grow_container p {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white-main);
  line-height: 1.5rem;
  text-align: center;
  margin-block-start: 2rem;
}
/*Sixth container*/
.percent_container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-main);
  padding: 1rem;
}

.percent_container span {
  font-size: 2.8rem;
  font-weight: 500;
}

.percent_container figure{
  width: 100%;
  align-items: start;
}

.percent_container figure img {
  width: 60%;
  margin-block-start: 1rem;
}

.create_post_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: var(--yellow-100);
}

.create_post_container p {
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 500;
}

.create_post_container p span {
  color: var(--purple-500);
  font-style: italic;
}

.create_post_container figure {
  width: 100%;
  align-items:start;
  justify-items: center;
  margin-block-start: 1rem;
}
.create_post_container figure img {
  width: 60%;
}
.write_container {
  padding: 1.5rem;
  background-color:var(--yellow-500);
}

.write_container p {
  font-size:1.8rem;
  font-size:2rem;
  font-weight: 500;
  line-height: 30px;
}

.write_container figure {
  width: 100%;
  align-items: start;
  margin-block-start: 1rem;
}

.write_container figure img {
  width: 60%;
}
/*Media queries for Grid*/

/*Big phone oh boyyy*/

@media screen and (min-width: 56rem ) {
  .main_container {
    display: grid;
    align-items:stretch;
    grid-template-areas:
      "create ai ai schedule"
      "create manage maintain schedule"
      "write manage maintain schedule"
      "write percent grow grow"
    ;       
    margin: 0 auto;
    gap: 25px;
  }

  .main_container div {
    margin: 0;
  }

  .main_container > :first-child {
    margin-block-start: 0;
  }

  .ai_container {
    grid-area: ai;
  }

  .manage_container {
    grid-area: manage;
    align-content:space-evenly;
    overflow: clip;

  }
  .manage_container figure img {
    margin-inline-end: -70px; 
    width: 130%;
    border-radius: 50px;
  }

  .maintain_container {
    grid-area: maintain;
    padding-inline: 1rem;
    padding-block-start: 1rem;
  }

  .maintain_container img {
    width: 100%;
    margin-block-end: -100px;
  }

  .schedule_social_container {
    grid-area: schedule;
    padding: 0;
    padding-block: 1rem;
    padding-inline-start: 1rem;
  }

  .schedule_social_container figure {
    overflow: hidden;
  }
  .schedule_social_container img {
    width: 180%;
    margin-inline-end: -170px;
  }

  .grow_container {
    flex-direction: row;
    grid-area: grow;
  }

  .grow_container p {
    margin: 0;
  }

  .grow_container figure img {
    width: 100%;
  }

  .percent_container {
    grid-area: percent;
  }
  
  .percent_container figure {
    align-items: center;
  }

  .create_post_container {
    grid-area: create;
    justify-content: center;
    padding: 1rem;
  }

  .create_post_container figure {
    margin-block-start: 2rem;
    align-items: center;
  }

  .create_post_container figure img {
    width: 80%;
  }

  .write_container {
    grid-area: write;
  }

  .write_container figure {
    margin-block-start: 2rem;
  }

  .write_container figure img {
    width: 100%;
  }
  

}
