@font-face {
  font-family: "DM Sans";
  src:url("../fonts/DMSans-VariableFont_opsz\,wght.ttf");
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
  font-weight: 400 500;
  font-style: italic;
}

:root {
  --purple-100:hsl(254,88%,90%);
  --purple-500:hsl(256,67%,59%);

  --yellow-100:hsl(31,66%,93%);
  --yellow-500:hsl(39,100%,71%);

  --white-main:hsl(0,0%,100%);
  --black-main:hsl(0,0%,7%);

  --fs-p: 18px;
}

p {
  font-family: "DM Sans", Calibri, Tahoma, sans-serif;
  font-weight: 100;
}

h1,h2,h3 {
  font-family: "DM Sans",Calibri, Tahoma, sans-serif;
  font-weight: 500;
}

.main_container {
  padding: 1rem;
  border: 3px solid black;
}

/* First square styles*/
.main_container >:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 18rem;
  padding-block: 2rem;
  background-color: var(--purple-500);
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  color: var(--white-main);
}

.ai_container h1 {
  padding-inline: 1.5rem;
}

.ai_container h1 span:first-of-type{
  color: var(--yellow-500);
}

.ai_container h1 span:nth-child(2) {
  font-style: italic;
}

.ai_container figure {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block-start: 1rem;
}

.ai_container img {
  width: 170px;
}

.ai_container p {
  font-size: 1.1rem;
  margin-block-start: .5rem;
}


/*Media queries for Grid*/
